body{
    border: double black;
    text-align: center;
    align-content: center;
    letter-spacing: 0.15em;
    font-family: 'Courier New', Courier, monospace;
   
}
p.aa{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 10px;
    padding-bottom: 20px;

}
div.bb{
    width: 600px;
    padding: 20px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}

div.cc{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 0%;
    }
    img{
        width: 200px;;
        height: 150px;
        display: inline;
    }
a{
    display: inline;
    margin: 0px 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    
}
a:hover{
    color: rgb(247, 22, 22);
    background-color: rgb(23, 24, 26);
    transform:scale3d(1.5)
}
img:hover{
    transform: scale(1.1);
}

p.bb{
    text-align: center;
    font-size: normal;
    width: 600px; 
    margin: 20px auto 20px auto; 
    font-weight: normal;
    padding-top: 10px;
  }